#frontImg{
    z-index: -1;
    height: 99.3vh;
    width: 45vw;
}

#desc{
    width: 40%;
    font-size: 2.5em;
    position: absolute;
    margin: 20px;
    top: 70%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 768px){
    #frontImg{
    height: 110vh;
    }
}