.NewsText{
    background-color: white;
    width: calc(30vw - 20px);
    height: 25vh;
    padding: 10px;
    padding-top: 20px;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    bottom: 4px;
    border-radius: 0px 0px 10px 10px;
}

.NewsImg{
    width: 30vw;
    height: 60vh;
    border-radius: 10px 10px 0px 0px;
}

.NewsTitle{
    width: 28.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    color: white;
    height: 30vh;
    top: 30vh;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    font-family: 'DM Sans', sans-serif;
}
.ReadMore a{
    text-decoration: none;
    font-weight: 600;
}
#nextBtn2 {
    background-color: #11B800;
    font-family: 'DM Sans', sans-serif;
    padding: 5px 20px;
    border: #11B800;
    border-radius: 12px;
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 1rem;
    position: relative;
    top: 5px;
    margin-left: 66%;
}

#nextBtn2:hover {
    transform: translateY(1px);
    cursor: pointer;
}

.nextNews{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.newsError{
    color: red;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    height: 88vh;
    width: 30vw;
    line-height: 1.5;
}